.promotion_filter {
    width: 100%;
    display: flex;
}

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    margin-top: 5%;
}

.post_item {
    float: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.post_filter {
    background: none;
    border: none;
    color: #fff;
}

.right_post_item {
    width: 60%;
    padding: 3%;
}

.category_filter {
    width: 50%;
}

.list_and_grid_button {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.list_item {
    width: 100%;
    flex-direction: row;
    text-align: left;
}

.grid_item {
    width: 50%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4%;
}

.grid_item>.post_thumbnail {
    width: 50%;
}

.post_thumbnail {
    text-align: center;
}

.post_thumbnail>img {
    width: 100%;
    margin: auto;
}

.grid_item>.post_thumbnail {
    width: 100%;
}

.grid_item>.right_post_item {
    width: 100%;
}

.list_item>.post_thumbnail {
    width: 40%;
}

.list_item>.right_post_item {
    width: 60%;
}

.post_title {
    margin-bottom: 3%;
    font-family: "Prompt";
}
.post_title > a:hover{
    text-decoration: none;
}
.post_title > a > h3 {
    color: #fff;
    transition: all .1s ease;
}

.post_title > a:hover > h3 {
    color:red;
}

.post_description {
    margin-bottom: 4%;
}

.post_description>span {
    color: #ccc;
}

.read_more_button>a:hover {
    text-decoration: none;
}

.read_more_button>a>button:hover {
    background: -moz-linear-gradient(top, rgb(250, 0, 0) 0%, rgb(203, 0, 0) 50%, rgb(130, 0, 0) 52%, rgb(146, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgb(250, 0, 0) 0%, rgb(203, 0, 0) 50%, rgb(130, 0, 0) 52%, rgb(146, 0, 0) 100%);
    background: linear-gradient(to bottom, rgb(250, 0, 0) 0%, rgb(203, 0, 0) 50%, rgb(130, 0, 0) 52%, rgb(146, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a70000', endColorstr='#920000', GradientType=0);
}

.read_more_button>a>button {
    width: auto;
    padding: 10px 5% 10px 5%;
    text-align: center;
    display: flex !important;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
    border-radius: 1000px;
    box-shadow: 0 2px 15px #000;
    font-weight: 700;
    font-family: "Prompt";
    font-weight: 300;
    text-shadow: 1px 3px 10px #000;
    line-height: 1.1;
    border: 2px solid #6c0002;
    background: rgb(167, 0, 0);
    background: -moz-linear-gradient(top, rgb(167, 0, 0) 0%, rgb(203, 0, 0) 50%, rgb(130, 0, 0) 52%, rgb(146, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgb(167, 0, 0) 0%, rgb(203, 0, 0) 50%, rgb(130, 0, 0) 52%, rgb(146, 0, 0) 100%);
    background: linear-gradient(to bottom, rgb(167, 0, 0) 0%, rgb(203, 0, 0) 50%, rgb(130, 0, 0) 52%, rgb(146, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a70000', endColorstr='#920000', GradientType=0);
    transition: all .2s ease;
}

.readmore_grid_button{
    margin: auto;
}

.list_and_grid_button > div:nth-child(1){
    margin-right: 1%;
}
.list_and_grid_button > div > img{
    width: 100% !important;
}

.list_and_grid_button > div{
    width: 36px;
    cursor: pointer;
    padding: 6px;
}


.grid_list_button_acitved{
    background-color: #6c0002;
}